@model bool

<div class="form-check d-inline-block">
    <input type="checkbox" 
           class="form-check-input @(Model ? "bg-primary" : "bg-secondary")" 
           @(Model ? "checked" : "") 
           disabled
           style="width: 1.2em; height: 1.2em; margin-top: 0.2em;">
</div>